
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #504e4e;
}

.item {
    justify-content: left;
    background: #fff;
    margin: 2rem 0rem 0rem 0rem;
    height: fit-content;
    width: fit-content;
  }
  
  
  .info{

    display:flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 2rem;
  }
  
  img{
    width: 100%;
  }
  
